  <div class="card-list-container p-5">
    <div class="row">
      <% @users.each do |user| %>
      <div class="col-lg-4">
        <div class="card">
        <%= image_tag user.get_profile_image(100,100),class: "card-img-top" %>
        <hr>
          <div class="card-body">
            <h4 class="card-text">name:<%= user.name %></h4>
            <hr>
            <%= link_to "show",user_path(user.id) %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>