<div class="container my-5">
  <div class="row">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto px-0">
      <h1 class="card-title"><em>
        Welcome To <strong><i class ="fas fa-book"></i>Bookers!!</strong>
      </em></h1>
      <p class="card-subtitle py-3">
        In Bookers
      </p>
      <p class="card-text py-3">
        BAsed on the impressions of the book, you will be excited about the one you want.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-10 mx-auto">
      <%= link_to "Log in",new_user_session_path,class: "btn btn-md btn-block btn-primary mb-3" %>
      <%= link_to "Sign up",new_user_registration_path,class: "btn btn-md btn-block btn-success" %>
    </div>
  </div>
</div>





